---
layout: page
title: 日出
header:  日出江花红胜火，春来江水绿如蓝
tagline: 白居易
---
{% include JB/setup %}


<h2> Posts </h2>
<ul id="posts">
  {% for post in site.posts %}
    <li><span><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> {{ post.date | date_to_string }}</span> </li>
  {% endfor %}
</ul>

<h2> Projects </h2>

<ul id="projects">

</ul>

<script id="projectsTmpl" type="text/x-jquery-tmpl">
  <li>
    <span>
    <a href="${html_url}" target="_blank">${name}</a>
    ${description}
    </span>
  </li>
</script>

