---
layout: page
title: 日出
header:  日出江花红胜火，春来江水绿如蓝
tagline: 白居易
---
{% include JB/setup %}

<div class="row">

<div class="span2">
<p><img alt="yuanyan" src="http://www.gravatar.com/avatar/8a27ebae306bac68b54c32832ded3e01?s=120&r=pg&d=404"></p>
<p><iframe src="http://ghbtns.com/github-btn.html?user=yuanyan&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="162px" height="20px"></iframe></p>
</div>

<div class="span10">
<pre>
{
    "name" : "@元彦",
    "id" : "yuanyan",
    "email" : "yuanyan.cao(at)gmail.com",
    "github" : "http://github.com/yuanyan",
    "twitter" : "http://twitter.com/caoyuanyan",
    "weibo" : "http://weibo.com/caoyuanyan"
}
</pre>
</div>

</div>

<h2> Posts </h2>
<ul id="posts">
  {% for post in site.posts %}
    <li><span><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> {{ post.date | date_to_string }}</span> </li>
  {% endfor %}
</ul>

<h2> Projects </h2>

<ul id="projects">

</ul>

<script id="projectsTmpl" type="text/x-jquery-tmpl">
  <li>
    <h3>
    <a href="${html_url}" target="_blank">${name}</a>
    <small>${description}</small>
    </h3>
  </li>
</script>

