---
layout: page
title: 日出
header:  日出
tagline: 元彥の程序世界
---
{% include JB/setup %}

<p><code>'yuanyan.json`</code>:</p>
<pre>
{
    name : '@元彦',
    email : 'yuanyan.cao(at)gmail.com',
    github : 'http://github.com/yuanyan',
    twitter : 'http://twitter.com/caoyuanyan',
    weibo : 'http://weibo.com/caoyuanyan'
}
</pre>

<p>
<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=yuanyan&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="162px" height="20px"></iframe>
</p>

<h2> Posts </h2>
<ul id="posts">
  {% for post in site.posts %}
    <li><span><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> {{ post.date | date_to_string }}</span> </li>
  {% endfor %}
</ul>

<h2> Projects </h2>

<ul id="projects">

</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script id="projectsTmpl" type="text/x-jquery-tmpl">
  <li>
    <h3>
    <a href="${html_url}" target="_blank">${name}</a>
    <small>${description}</small>
    </h3>
  </li>
</script>

<script>
  (function(){
     var reqPromise= $.ajax({
         dataType: "jsonp",
         url: "https://api.github.com/users/yuanyan/repos",
         jsonp: "callback"
     });

     reqPromise.done(function(data){
        var projects = data.data;

        projects.sort(function(a, b) {
              return new Date(b.watchers) - new Date(a.watchers);
        });

        projects = projects.slice(0,10);

        $("#projectsTmpl").template( "projectsTmpl" );
        $.tmpl("projectsTmpl", projects).appendTo("#projects");
     });
  })();
</script>