<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - 元彥の程序世界</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="//madscript.com/static/css/style.css?v=2" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
          <p><a href="http://weibo.com/caoyuanyan"><img alt="yuanyan" class="img-circle" width="40" height="40" src="http://www.gravatar.com/avatar/8a27ebae306bac68b54c32832ded3e01?s=40"> </a></p>
          <p class="pull-right"><a href="#">^</a></p>
      </footer>

    </div> <!-- /container -->
    
    <div id="thumbs" class="hide">
      <a href="//madscript.com/static/bg/1.jpg"></a>      
      <a href="//madscript.com/static/bg/2.jpg"></a>      
      <a href="//madscript.com/static/bg/3.jpg"></a>           
      <a href="//madscript.com/static/bg/4.jpg"></a>           
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery.min.js"><\/script>')</script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="//madscript.com/static/js/jquery.superbgimage.min.js"></script>
    <script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script>
        $(document).ready(function(){
            if( !( $("#projects")[0] && $("#projectsTmpl")[0] ) ) return null;

            var reqPromise= $.ajax({
                dataType: "jsonp",
                url: "https://api.github.com/users/yuanyan/repos",
                jsonp: "callback"
            });

            reqPromise.done(function(data){
                var projects = data.data;

                projects.sort(function(a, b) {
                    return new Date(b.watchers) - new Date(a.watchers);
                });

                projects = projects.slice(0,10);

                $("#projectsTmpl").template( "projectsTmpl" );
                $.tmpl("projectsTmpl", projects).appendTo("#projects");
            });
        });
    </script>
    <script>
        $(document).ready(function(){
             // Options for SuperBGImage
              $.fn.superbgimage.options = {
                z_index: -1,
                randomtransition: 0,                     
                slideshow: 1, // 0-none, 1-autostart slideshow                        
                slide_interval: 6300, // interval for the slideshow
                randomimage: 1, // 0-none, 1-random image
                preload:1
              };

             // initialize SuperBGImage
             $('#thumbs').superbgimage();
        });
    </script>

    {% include JB/analytics %}
  </body>
</html>
