<div class="page-header">
  <h1>
  {{ page.header }} <small>{{ page.tagline }}</small>
  &nbsp;&nbsp;&nbsp;
   <iframe src="http://ghbtns.com/github-btn.html?user=yuanyan&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="162px" height="20px"></iframe> 
   <a href="http://weibo.com/caoyuanyan"><img alt="yuanyan" class="img-circle" width="60" height="60" src="http://www.gravatar.com/avatar/8a27ebae306bac68b54c32832ded3e01?s=60"> </a>
  </h1>

</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
